*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    font-family: 'Bungee', cursive;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182C61;
    color:#ecf0f1;
}

header nav li {
   display: inline; /*colocar conteudo na mesma linha */
    margin-left: 16px;
}

header nav li a {
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none; /*retirar linha abaixo do link */
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center; /*centralizar conteudo na vertical */
    justify-content: space-between;  /*ajustar conteudo no canto da tela */
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182C61;
}

section p {
    margin-bottom: 8px;
    ;
}

.store-front {
    margin-right: 32px; ;
}

.social-links img {
    height: 24px;
}

.social-links li{
    display:inline ;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}


form textarea,
form input,
form button {
    display: block;
    width: 320px;
    margin-bottom: 10px;
    padding: 8px;
}

textarea {
    resize: none;
    height: 180px
}

section h3 {
    margin-bottom 16px; ;
}

form button {
    background-color: #182C61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #3153b3;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
}